.App {
  text-align: center;
  margin: 20px auto;
  border: 1px solid #333;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

form {
  margin-top: 20px;
}
form input {
  margin-left: 10px;
  width: 80px;
}
